nav {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

button {
    width: 5vw;
    height: 3vh;
    background-color: black;
    color: white;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 100%;
    height: 80vh;
}

#menuDiv {
    border: 2px solid black;
    height: 80vh;
    width: 30vw;
    padding: 2vw;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    font-size: 1.5vh;
    margin-bottom: 1vh;
}